{% load staticfiles %}
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="{{tiempo.segundosmensaje}};URL='{% url 'tecladoaf' request.session.zonaid %}'" />

      <title>{% block title %}{% endblock %}</title>


    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">


    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body class="bg">

      <div class="container-fluid">
          <div class="row mb-10">
            <div class="alert {% if aviso == 1 %}alert-danger{% else %} alert-success{% endif %}" role="alert">
                    <h1>No tiene acceso</h1>
                </div>

        </div>
      </div>

    </body>
</html>