{% extends '../base.html' %}


{% block breadcrumb %}
  <li class="breadcrumb-item"> <a href="{% url 'listahotelesaf' %}">{{ request.session.nombreHotel }}</a> </li>
{% endblock breadcrumb %}

{% block content %}


    <div class="row">
        {% for zona in zonas %}

                <div class="card"  id="Centro{{ zona.id }}" onclick=" Navegar('{% url 'tecladoaf' zona.id  %}')">

                        <div class="card-body">
                            <h5 class="card-title">{{ zona.descripcion }}</h5>
                        </div>
                </div>
        {% empty %}
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"><strong>OH!!</strong></h4>
                <p>No se han encontrado centros de consumo para el hotel seleccionado. Por favor vuelva a intentarlo.</p>

                <a href="{% url 'listahotelesaf'  %}" class="btn btn-primary">Volver</a>
            </div>
        {% endfor %}
    </div>


<script>
    function Navegar(url) {
        window.open(url,'Teclado','fullscreen=yes,location=no,,status=no');
    }
</script>
{% endblock %}

